.pagination li {
    cursor: pointer !important;
}
.link-click {
    cursor: pointer !important;
}
.glyphicon-ok {
    color: #008000;
}
.glyphicon-remove {
    color: #ff0000;
}
.align-center {
    margin: 0 auto;
    width: 100%;
}