<div class="container-fluid">
    <div class="row header-row">
        <div class="header col-md-10">
            <h3>{{title}}</h3>
        </div>
        <div class="col-md-2">
            <dynamic-modal-form
                    *ngIf="formData.length > 0"
                    [modalHeader]="'New Project'"
                    [buttonText]="'Create New Project'"
                    [questions]="formData"
                    [searchReturn]="userSearchReturn"
                    (saveEmitter)="onSubmit($event)"
                    (searchEmitter)="onUserSearch($event)"
            ></dynamic-modal-form>
        </div>
    </div>
    <div class="row projects">
        <div class="col-md-2 nav-row">
            <a [routerLink]="['Projects']">Projects</a> <br/>
        </div>
        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>