html, body {
    font-family: Cambria, serif;
    height: 100%;
}
.container-fluid {
    height: 100%;
}
.router-outlet {
    display: none;
    height: 0;
}
.header-row {
    background-color: lightgray;
    margin-bottom: 5px;
}
.header-row h3 {
    margin-top: 2px;
}